-- COURSES --
https://www.khanacademy.org/
http://ocw.mit.edu/index.htm
http://diycomputerscience.com/
https://www.coursera.org/
https://www.edx.org/
https://www.udacity.com/

-- CHALLENGES --
http://challenge.cueup.com/
https://www.hackerrank.com/
http://programmingpraxis.com/
http://www.checkio.org/
http://codingbat.com/
http://www.reddit.com/r/programmingchallenges
http://www.reddit.com/r/dailyprogrammer
http://www.codechef.com/
http://code.google.com/codejam/contests.html
http://www.pythonchallenge.com/
http://projecteuler.net/
https://facebook.interviewstreet.com/recruit/challenges

-- ONLINE COMPILERS --
http://repl.it/languages
http://gcc.godbolt.org/
http://ideone.com/
/bin
